
@media (max-width: 768px) {
    .about-me-card {
        width: 80vw; 
        margin-top: 1vw;
        margin-left: 0;
    }
    
}

@media (min-width: 768px) {
    .about-me-card {
        width: 40vw; 
        margin-top: 1vw;
        margin-left: 0;
    }
}
